header {
    top: 0;
    background: #8EC54F;
    background: var(--header);
    height: 55px;
    margin: 0;

    .container {
        grid-template-columns: 30% auto;
        padding: 0;
    }

    .logo {
        float: left;
        display: flex;
        flex-flow: row;
        text-decoration: none;
        width: fit-content;
        margin: 5px;
        border-radius: 10px;

        img {
            width: 40px;
            height: 33px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
            float: left;
        }

        .appname {
            margin: 0 1em;
            font-size: 1em;
            line-height: 45px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            white-space: nowrap;
            color: white;
        }
    }

    .logo:hover {
        background: #5f8336;
        background: var(--headerhover);
        filter:brightness(0.93);
    }

    .logo:focus {
        outline-width: 0;
        filter:brightness(0.85);
    }

    .logo::-moz-focus-inner {
        border:0;
    }
}

body {
    background: var(--background);
    height: calc(100svh - 55px);
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: auto;

    p, li {
        color: var(--fontcolor);
    }

    li {    
        padding-bottom: 10px;
    }
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: var(--scrollbartrack); 
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbarthumb); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarthumbhover); 
}