header {
    top: 0;
    background: #8EC54F;
    background: var(--header);
    height: 55px;
    margin: 0;

    .container {
        grid-template-columns: 30% auto;
        padding: 0;
    }

    .logo {
        float: left;
        display: flex;
        flex-flow: row;

        img {
            width: 40px;
            height: 33px;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: 10px;
        }

        .appname {
            padding-left: 1em;
            font-size: 1em;
            line-height: 55px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            white-space: nowrap;
            text-decoration: none;
            color: white;
        }
    }
}

body {
    background: var(--background);
    height: calc(100vh - 55px);
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: auto;

    p, li {
        color: var(--fontcolor);
    }

    li {    
        padding-bottom: 10px;
    }
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: var(--scrollbartrack); 
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbarthumb); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarthumbhover); 
}