<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <div *ngIf="theme == 'dark'; then dark_logo else light_logo"></div>
      <ng-template #light_logo>
        <img src="assets/img/ic_splash.png" alt="MyChatApp Logo">
      </ng-template>
      <ng-template #dark_logo>
        <img src="assets/img/ic_splash_dark.png" alt="MyChatApp Logo">
      </ng-template>
      <p class="appname">{{ appname }}</p>
    </a>
  </div>
</header>

<body>
  <p>Version 1.2.1 (23.02.2024)</p>
  <ul>
    <li>Das Design der Raumliste und des Profils wurde überarbeitet</li>
    <li>Erforderliche Eingabefelder werden jetzt mit einem Sternchen markiert</li>
    <li>Label wurden zu Eingabeformularen hinzugefügt</li>
    <li>Das Suchfeld für die Raumsuche ist jetzt korrekt vom Typ "search"</li>
    <li>Der Suchtext wird jetzt im Raumnamen markiert (Parität mit Android-Version)</li>
    <li>Wenn keine Nachrichten angepinnt sind, wird beim Öffnen der Pinnwand jetzt ein entsprechender Hinweis angezeigt</li>
    <li>Der aktuelle Raum wird nicht mehr auf der Raumliste beim Weiterleiten einer Nachricht angezeigt</li>
    <li>Alle Icons sind jetzt SVGs</li>
    <li>Ein Klick auf das Logo im Header führt jetzt zur Hauptseite</li>
    <li>Die Buttons zum Schließen eines Fensters sind jetzt korrekterweise ein HTML-Button-Element (Barrierefreiheit)</li>
    <li>Kleinere Optimierungen für Mobilgeräte</li>
  </ul>
  <p>Version 1.2.0 (19.02.2024)</p>
  <ul>
    <li>Pinnwand wurde hinzugefügt (Parität mit Android-Version)</li>
    <li>Ein Raum kann jetzt von Admins bearbeitet und gelöscht werden (Parität mit Android-Version)</li>
    <li>Rauminfo hinzugefügt (Parität mit Android-Version)</li>
    <li>Eine Option zum Zurücksetzen des Passworts wurde hinzugefügt (Parität mit Android-Version)</li>
    <li>Das Zeichenlimit für Passwörter wurde auf 32 erhöht (Parität mit Android-Version)</li>
    <li>Das Profil eines anderen Nutzers wird jetzt per Klick auf das Profilbild neben der Nachricht geöffnet (Parität mit Android-Version)</li>
    <li>Profil- und Raumbeschreibungen sind jetzt optional (Parität mit Android-Version)</li>
    <li>Ein neues User-Menü wurde hinzugefügt</li>
    <li>Diverse Icons wurden durch SVGs ersetzt</li>
    <li>Das Design des Kontextmenüs bei Rechtsklick auf Nachrichten wurde neugestaltet</li>
    <li>Zahlreiche kleinere Designverbesserungen</li>
    <li>Die Doc-Lang wird jetzt korrekt gesetzt (Barrierefreiheit)</li>
    <li>Ein Fehler bei der Darstellung der neusten Nachricht in der Raumübersicht wurde behoben</li>
    <li>Ein Fehler im Titel des Profils anderer Nutzer wurde behoben</li>
    <li>Ein Fehler wurde behoben, dass Zitate nicht angezeigt werden, wenn die zitierte Nachricht nicht mehr verfügbar ist</li>
    <li>Ein Fehler wurde behoben, dass zitierte Nachrichten nicht korrekt gehighlightet werden, wenn zu ihnen gesprungen wird</li>
    <li>Ein Fehler wurde behoben, dass lange Profilbeschreibungen nicht korrekt dargestellt werden</li>
    <li>Die Angular-Version wurde auf Version 17 und die node.js-Version auf Version 20 erhöht</li>
  </ul>
  <p>Version 1.1.0 (14.10.2023)</p>
  <ul>
    <li>Die Angular- und Node.js-Version wurde geupdatet</li>
    <li>Weitergeleitete Nachrichten werden jetzt korrekt als solche markiert</li>
  </ul>
  <p>Version 1.0.2 (31.11.2019)</p>
  <ul>
    <li>In der Raumliste kann jetzt gezielt nach einem Raum gesucht werden.</li>
    <li>Zitierte Bilder werden jetzt im Zitat korrekt dargestellt.</li>
    <li>Gepostete Bilder haben jetzt im Chatraum ein fixes 4:3-Format. Per Klick lässt sich das volle Bild öffnen.</li>
    <li>Gepostete Bilder lassen sich jetzt per Rechtsklick herunterladen.</li>
    <li>Die Raumliste lässt sich jetzt über die Tastatur ansteuern.</li>
  </ul>
  <p>Version 1.0.1 (24.11.2019)</p>
  <ul>
    <li>Das eigene Profil lässt sich jetzt bearbeiten.</li>
    <li>Englisch wird jetzt als Sprache unterstützt. Die Anwendung verwendet die Browsersprache.</li>
    <li>Uhrzeiten werden jetzt korrekt in die lokale Uhrzeit umgerechnet.</li>
    <li>Bei Erstellen eines Raums lässt sich jetzt ein Raumbild hochladen.</li>
    <li>Bei Erstellen eines Raums lässt sich jetzt das eingegebene Passwort als Klartext anzeigen.</li>
    <li>Per Rechtsklick auf Nachrichten lässt sich jetzt das Profil des Absenders öffnen.</li>
    <li>Per Rechtsklick auf Nachrichten lassen sich diese jetzt weiterleiten.</li>
    <li>Per Rechtsklick auf eine Nachricht lässt sich diese jetzt an- bzw. abpinnen. Eine visuelle Pinnwand existiert noch nicht.</li>
    <li>Per Linksklick auf ein Zitat lässt sich jetzt zur zitierten Nachricht springen.</li>
    <li>Links werden jetzt als solche erkannt. Per Klick öffnet sich die Seite in einem neuen Tab.</li>
    <li>Bilder werden jetzt im Hintergrund komprimiert.</li>
    <li>Die Seite verwendet jetzt die Schriftart des Browsers (Sans-Serif).</li>
    <li>Das optische Design der Menüs "Raum erstellen" und "Einstellungen" wurde überarbeitet.</li>
    <li>Ein Darstellungsfehler von sehr breiten Bildern im Vollbild wurde behoben.</li>
    <li>Ein Darstellungsfehler von empfangenen Bildern im Chatraum wurde behoben.</li>
    <li>Ein Fehler wurde behoben, der das Scrollen in Dialogen bei kleinen Fenstern verhindert hat.</li>
    <li>Update auf Angular 8.</li>
  </ul>
  <p>Version 1.0.0 (14.11.2019)</p>
  <ul>
    <li>Erstveröffentlichung</li>
  </ul>
</body>