button, input, textarea, select {
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #8EC54F;
    background: var(--primary-color);

    .versionnumber {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        padding-left: 1em;
        font-size: 12px;
        font-family: "Montserrat"
    }

    .loginscreen {
        display: flex;
        flex-flow: row;
        height: 100vh;

        .mcalogo {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            img {
                width: 40%;
            }

            .mcatext {
                text-align: center;
                color: white;
                font-weight: bold;
                font-size: 2em;
            }
        }

        .loginbox {
            width: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            form {
                width: 40%;
                display: block;
            }

            input {
                height: 2em;
                width: calc(100% - 2em);
                margin-bottom: 1em;
                padding: 0.7em;
                border: none;
                border-radius: 40em;
                display: block;
                font-size: 16px;
            }

            input:hover {
                filter:brightness(0.9);
            }

            input:focus {
                outline-width: 0;
                filter:brightness(0.8);
            }

            button {
                margin-top: 1em;
                border: none;
                border-radius: 40em;
                width: 70%;
                min-width: fit-content;
                background: #FF0000;
                background: var(--button);
                color: white;
                font-size: 1em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                font-weight: bold;
                cursor: pointer;
            }

            button:hover {
                filter:brightness(0.93);
            }

            button:focus {
                filter:brightness(0.85);
                outline-width: 0;
            }

            .forgotPasswordButton {
                width: 28%;
            }
        }
    }
}





@media screen and (max-width: 600px) {
    body {
        height: 100svh;

        .loginscreen {
            display: flex;
            flex-flow: column;
            overflow-y: scroll;

            .mcalogo {
                padding-top: 10%;
                padding-bottom: 10%;
                width: 100%;

                .mcatext {
                    font-size: 1.5em !important;
                }
            }

            .loginbox {
                padding-left: 10% !important;
                padding-right: 10% !important;
                width: 80% !important;

                form {
                    width: 100%;
                }

                .forgotPasswordButton {
                    width: 70%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}




.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overscroll-behavior: contain;
    overflow: hidden;
}

.modal-content {
    position: absolute;
    background-color: #F7F7F7;
    background-color: var(--background);
    margin: auto;
    padding: 0;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    
    .close {
        color: black;
        color: var(--fontcolor);
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-right: 0.5em;
    }

    .close:hover,
    .close:focus {
        color: grey;
        text-decoration: none;
        cursor: pointer;
    }

    p {
        color: black;
        color: var(--fontcolor);
        text-align: center;
    }

    form {
        display: flex;
        flex-flow: column;
    }

    mat-form-field {
        margin: 10px;
    }

    mat-hint {
        color: black;
        color: var(--fontcolor);
    }

    button {
        border: none;
        border-radius: 40em;
        margin-right: 10px;
        margin-top: 1em;
        margin-bottom: 1em;
        background: #FF0000;
        background: var(--button);
        color: white;
        font-size: 1em;
        padding: 0.5em;
        font-weight: bold;
        float: right;
        cursor: pointer;
    }

    button:hover {
        filter:brightness(0.93);
    }

    button:focus {
        filter:brightness(0.85);
        outline-width: 0;
    }
}

.toast {
    display: none;
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 60px;

    -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s; /* Firefox < 16 */
    -ms-animation: fadeIn 1s; /* Internet Explorer */
    -o-animation: fadeIn 1s; /* Opera < 12.1 */
    animation: fadeIn 1s;

    @-webkit-keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
    .toastcontent {
        margin: auto;
        width: fit-content;
        max-width: 80%;

        .toasttext {
            background: #555C;
            color: white;
            padding: 15px;
            border-radius: 40em;
            font-size: 32px;
        }
    }
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:300; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:300; opacity:1}
}